body{
    color: white;
    background-color: rgb(18, 18, 18);
    padding-top: 45px;
}

div{
    margin: 0px;
}

ul.topBar {
    margin-top: -45px;
}

div.header{
    background-color: rgba(42, 43, 49);
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    vertical-align: center;
}

div.page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0px;
}

div.leftColumn{
    flex: auto;
    min-height: 100px;
    max-width: calc(100% - 200px);
}

div.rightColumn{
    align-items: center;
    align-content: center;
    text-align: center;
    width: 190px;
    background-color: rgba(48, 48, 60);
    min-height: 200px;
    padding: 5px;
}

div.commentsColumn{
    flex: auto;
    background-color: gray;
    min-height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 10px;
    max-width: calc(100% - 210px);
}

div.break{
    width: 100%;
    height: 0;
}

div.desc{
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 10px;
    height: auto;
    min-height: 300px;
    background-color: rgba(48, 48, 60, .79);
    overflow-wrap: break-word;
}

div.commentSection{
    margin: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    height: auto;
    min-height: 300px;
    border-radius: 10px;
    background-color: rgba(48, 48, 60, .79);
}

div.commentBox{
    top: 200px;
    width: calc(100%-60px);
    max-width: calc(100%-60px);
    margin: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(18, 18, 18, 0.87);
}

div.leftCommentBox{
    width: 150px;
    height: 100%;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

div.rightCommentbox{
    margin: 10px;
    padding: 10px;
    background-color: rgba(48, 48, 60);
    border-radius: 10px;
    border: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: black;
    flex: auto;
}

div.commmentPic{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
    position: inline;
}

div.rating{
    width: 100%;
    text-align: center;
}

div.pic{
    width: 190px;
    height: 190px;
    border-radius: 10px;
    overflow: hidden;
    position: inline;
}

div.person{
    width: calc(100% - 6px);
    height: 50px;
    padding: 3px;
    margin: 3px;
    margin-left: 0;
    border-radius: 10px;
    background-color: rgba(48, 48, 60, .79);
    border: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
}

div.InfoTable{
    width: 105px;
    height: 45px;
    margin: auto;
    display: table;
}

div.Info{
    width: calc(100% - 210px);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}

div.list{
    width: 180px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px ;
    border-radius: 10px;
    background-color: rgb(18, 18, 18, 0.87);
}

input.signUp{
    position: relative;
    left: calc(100% - 80px);
    top: calc(100% - 40px);
    background-color: rgb(255, 255, 255, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: auto;
    width: 60px;
    height: 30px;
    transition: all .4s ease;
}

input.signUp:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: all .4s ease;
}

div.commentPopUp{
    left: calc(50% - 300px);
    top: 100px;
    width: 600px;
    min-height: 300px;
    margin: auto;
    align-content: center;
    text-align: center;
    position: fixed;
    display: none;
    background-color: rgba(78, 78, 78, 0.78);
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    z-index: 20;
    transition: all .4s ease;
}

button.btn{
    background-color: rgb(255, 255, 255, 0.3);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width: 75px;
    height: 25px;
    transition: all .4s ease;
}
button.btn:hover{
    background-color: white;
    transition: all .4s ease;
}

button.delete{
    background-color: rgb(255, 0, 0, 0.3);
}

button.delete:hover{
    background-color: red;
    transition: all .4s ease;
}

div.greyout{
    position: fixed;
    left: 0;
    top: 45px;
    margin: auto;
    display: none;
    align-content: center;
    text-align: center;
    width: 100%;
    height: calc(100% - 45px);
    z-index: 19;
    background-color: rgba(54, 53, 53, 0.486);
    transition: all .4s ease;
}

@media screen and (max-width: 650px) {
    div.rightColumn{
        visibility: collapse;
    }
    div.leftColumn{
        width: 100%;
    }
}