<!DOCTYPE html>
<html>
    <head>
        <title>
            Events
        </title>
        <link href="../CSS/Base.css" rel="stylesheet">
        <link href="../CSS/EventMod.css" rel="stylesheet">
    </head>
    <div>
        <ul class="topBar">
            <li><a href="">Home</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">RSC</a></li>
            <li><a href="">Schools</a></li>
    
            <li class="right"><a href="">LogOut</a></li>
            <li class="right"><a href="">Profile</a></li>
        </ul>
    </div>
    <body onload="PreviewImage();">
        <div class="holder">
            <form action="">
                <div class="section"> Pic </div>
                <div class="inputSec"> <input type="file" name="myPhoto" id="uploadImage" onchange="PreviewImage();"></div>
                <div class="picPreview">
                        <img src="..\Sources\Images\2019-10-25 15_47_10-【Electro】Monstaz. - Popcorn Funk - YouTube.png" id="uploadPreview" alt="Space" class="eventPic" >
                </div>    
                <div class="break"></div>
                <div class="section"> Name: </div>
                <div class="inputSec"><input type="text" name="Name" id="Name" class="text" required></div>
                <div class="break"> </div>
                <div class="section"> Desc: </div>
                <div class="inputSec"><textarea name="Desc" id="Desc" class="bigTextBox" wrap="hard"></textarea></div>
                <div class="break"></div>
                <div class="section"> Show Members </div>
                <div class="inputSec"> Yes <input type="radio" name="ShowMem" id="ShowMemY"> No<input type="radio" name="ShowMem" id="ShowMemN"></div>
                <div class="bigBreak"></div>
                <div class="section"> Sponsored: </div>
                <div class="inputSec">
                    <input list="Sponsors" name="Sponsored" id="Sponsored" class="text">
                    <datalist id="Sponsors">
                        <option value="Tom"></option>
                    </datalist>
                </div>
                
                <div class="break"></div>
                <div class="section"> Change Admin: </div>
                <div class="inputSec"></div>
                    <input list="Members" name="Admin" id="Admin" class="text">
                    <datalist id="Members">
                        <option value="Tom"></option>
                    </datalist>
                <div class="bigBreak"></div>
                <div class="section"> Start Date: </div>
                <div class="inputSec"> <input type="date" name="StartDate" id="StartDate" required> </div>
                <div class="section"> End Date:</div>
                <div class="inputSec"> <input type="date" name="EndDate" id="EndDate"> </div>
                <div class="break"></div>
                <div class="section"> Start Time: </div><div class="inputSec"></div>
                    <select name="StartHours">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12" selected>12</option>
                    </select>
                    <select name="StartMinute" id="">
                        <option value="00" selected>00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>
                    <select name="StartClockSide">
                        <option value="AM">AM</option>
                        <option value="PM" selected>PM</option>
                    </select>
                <div class="section"> End Time:</div>
                <div class="inputSec"></div>
                <select name="EndHours" id="EndHours">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12" selected>12</option>
                </select>
                <select name="EndMinute" id="EndMinute">
                    <option value="00" selected>00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                <select name="EndClockSide" id="EndClockSide">
                    <option value="AM">AM</option>
                    <option value="PM" selected>PM</option>
                </select>
                <div class="bigBreak"></div>
                <div class="section"> Location </div>
                <div class="break"></div>
                <div class="section"> </div>
                <div class="section"> Lat </div>
                <div class="inputSec"><input type="number" name="Lat" id="Lat" min="-90" max="90" class="text"></div>
                <div class="section"> Long: </div>
                <div class="inputSec"><input type="number" name="Long" id="Long" min="-180" max="180" class="text"></div>
                <div class="break"></div>
                <div class="section"> </div>
                <div class="section"> Building: </div>
                <div class="inputSec"><input type="text" name="Building" id="Building" class="text"></div>
                <div class="section"> Floor: </div>
                <div class="inputSec"><input type="number" name="Floor" id="Floor" class="text"></div>
                <div class="section"> Room: </div>
                <div class="inputSec"><input type="text" name="Room" id="Room" class="text"></div>
                <input type="submit" value="create">
            </form>
        </div>
    </body>
    <script>
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };
    </script>
</html>